body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    padding: 20px;
}

div#box {
    background-color:aliceblue;
    border: 1px solid ;
    padding: 10px;
}
input {
    padding: 8px;
    width: 250px;
}
button {
    background-color:transparent;
    border-color: black;
    border-radius: 15px;
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}
li {
    background: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.done {
    text-decoration: line-through;
    background: #d0ffd0;
}
