body{
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: aqua;
}
tr:nth-child(even) {
    background-color: azure;
}
.aprovado{
    color: green;
    font-weight: bold;
}
.reprovado {
    color: red;
    font-weight: bold;
}

div.linha {
    display: flex;
}